/* 
<<<< Fonts >>>> 
font-family: 'Fjalla One', sans-serif;
font-family: 'Inter', sans-serif;

<<< Colors >>>>

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.062);
}

.navbar {
    display: flex;
    flex-direction: row;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px 20px;
}

.nav-branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.custom-logo {
    max-height: 40px;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 450px;
    margin: 50px auto;
}

h1 {
    font-weight: 900;
    font-size: 5em;
    text-align: center;
    line-height: 1em;
    margin-bottom: 8px;
}

h2 {
    font-weight: 700;
    font-size: 1.75em;
}

p {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 1.25em;
}

.photo-container {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

div.caption {
    background-color: rgba(0, 0, 0, 0.589);
    height: 100%;
    color: whitesmoke;
    cursor: pointer;
    border-radius: inherit;
}

div.caption {
    display: none;
}

div.photo-container:hover .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caption-text {
    display: flex; 
    flex-direction: column;
    text-align: center;
}


/* Gallery Grid CSS: mobile first approach */

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows:minmax(150px,auto);
    gap: 1rem;
    margin: 0 20px;
    overflow-x: hidden;
    /* padding: 20px; */
    
}

.photo-container:nth-child(1) {
    background-image: url(/img/bristlecone-1.jpg);
}
.photo-container:nth-child(2) {
    background-image: url(/img/bristlecone-2.jpg);
}
.photo-container:nth-child(3) {
    background-image: url(/img/bristlecone-3.jpg);
}
.photo-container:nth-child(4) {
    background-image: url(/img/glamis-1.jpg);
}
.photo-container:nth-child(5) {
    background-image: url(/img/glamis-2.jpg);
}
.photo-container:nth-child(6) {
    background-image: url(/img/glamis-3.jpg);
}
.photo-container:nth-child(7) {
    background-image: url(/img/pike-market-1.jpg);
    background-position: 50% 95%; 
}
.photo-container:nth-child(8) {
    background-image: url(/img/pike-market-2.jpg);
}
.photo-container:nth-child(9) {
    background-image: url(/img/poulsbo-1.jpg);
}
.photo-container:nth-child(10) {
    background-image: url(/img/teton-1.jpg);
}
.photo-container:nth-child(11) {
    background-image: url(/img/washington-state-1.jpg);
}
.photo-container:nth-child(12) {
    background-image: url(/img/washington-state-2.jpg);
}

@media(min-width: 700px){

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows:minmax(100px, auto);
        gap: 1rem;
        padding: 20px;
    }
    .photo-container:nth-child(1) {
        background-image: url(/img/bristlecone-1.jpg);
        grid-area: 2/1/3/2;
        height: auto;
    }
    .photo-container:nth-child(2) {
        background-image: url(/img/bristlecone-2.jpg);
        grid-area: 1/1/2/3;
    }
    .photo-container:nth-child(4) {
        background-image: url(/img/glamis-1.jpg);
        grid-area: 3/1/4/3;
    }
    .photo-container:nth-child(10) {
        background-image: url(/img/teton-1.jpg);
        grid-area: 6/1/7/3;
        background-position: 50% 65%; 
    }
    .photo-container:nth-child(12) {
        background-image: url(/img/washington-state-2.jpg);
        grid-area: 8/1/9/3;
    }
}







